@model EventPlatFormVer4.Models.Event

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SponsorId" class="control-label"></label>
                <input asp-for="SponsorId" class="form-control" />
                <span asp-validation-for="SponsorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rank" class="control-label"></label>
                <input asp-for="Rank" class="form-control" />
                <span asp-validation-for="Rank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventStartTime" class="control-label"></label>
                <input asp-for="EventStartTime" class="form-control" />
                <span asp-validation-for="EventStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventEndTime" class="control-label"></label>
                <input asp-for="EventEndTime" class="form-control" />
                <span asp-validation-for="EventEndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SignUpStartTime" class="control-label"></label>
                <input asp-for="SignUpStartTime" class="form-control" />
                <span asp-validation-for="SignUpStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SignUpEndTime" class="control-label"></label>
                <input asp-for="SignUpEndTime" class="form-control" />
                <span asp-validation-for="SignUpEndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detail" class="control-label"></label>
                <input asp-for="Detail" class="form-control" />
                <span asp-validation-for="Detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <button><a asp-controller="Sponsors" asp-action="Info_Apply" asp-route-id=@ViewData["sid"]>Back</a></button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
