@model EventPlatFormVer4.Models.Administrator
@{
    ViewData["Title"] = "Home Page";
}
  
<div class="text-center">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <!-- //TODO此处设置的是初始登录页面，需要修改的，这个时候点击的还是Create而不是登录-->
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Pwd" class="control-label"></label>
                    <input asp-for="Pwd" class="form-control" />
                    <span asp-validation-for="Pwd" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>
                        <input type="radio" name="Adm" value="0">Administrators<br>
                        <input type="radio" name="Par" value="1">Participants<br>
                        <input type="radio" name="Spo" value="2">Sponsors<br>
                    </div>
                    <div class="form-group">
                        <a asp-action="Details" asp-route-id="1">登录</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
